.list-cell {
  -fx-cell-size: 30;
  -fx-text-fill: white;
}

.list-cell:odd {
  -fx-background-color: dimgray;
}

.list-cell:even {
  -fx-background-color: gray;
}

.list-cell:empty {
  -fx-background-color: dimgray;
}

.scroll-bar:vertical>*.thumb {
  -fx-background-color: dimgray, dimgray, gray;
}

.scroll-bar:vertical{
  -fx-background-color: dimgray, dimgray, gray;
}

.text-field {
  -fx-text-fill: white;
}

