.root {
  -fx-background-color: gray;
  -fx-border-width: 20;
}

.list-view {
  -fx-background-color: dimgray;
}

.list-cell {
  -fx-cell-size: 30;
  -fx-text-fill: white;
}

.list-cell:odd {
  -fx-background-color: dimgray;
}

.list-cell:even {
  -fx-background-color: gray;
}

.list-cell:empty {
    -fx-background-color: dimgray;
}
.list-cell:selected {
    -fx-background-color: DarkGray;
}

.scroll-bar:vertical>*.thumb {
  -fx-background-color: dimgray, dimgray, gray;
}

.scroll-bar:vertical{
  -fx-background-color: dimgray, dimgray, gray;
}

.text-field {
  -fx-text-fill: white;
  -fx-background-color: dimgray;
}

.button {
  -fx-background-color: dimgray;
}

.button:hover {
  -fx-background-color: DarkGray;
}

